.home_body{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #171718;
}

.home_offset{
    max-width: 1140px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.home_head p{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin: 26px 0;
    color: #fff;
}

.home_link a{
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    margin-left: 46px;
}

.home_link{
    margin-top: 34px;
}

.home_link_border{
    border-bottom: solid #F9B53A 3px;
}

.home_head_link{
    padding: 16px 37px;
    background-color: #F9B53A;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    margin: 18px 0;
    border-radius: 8px;
}

.home_text_fff{
    font-weight: bold;
    font-size: 60px;
    line-height: 71px;
    color: #fff;
}

.home_text_yellow{
    color: #F9B53A;
}

.home_text_link{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    text-align: center;
}

.home_text_link{
    margin: 100px 458px 0;
}

.home_text_500{
    margin: 30px 39px;
}

.home_text_p{
    margin-left: 25px;
    margin-bottom: 10px;
}

.home_a_yellow{
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    border-radius: 8px;
    background-color: #F9B53A;
}

.home_a_transparent{
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    background-color: transparent;
    padding: 16px 20px;
    border: solid #fff 1px;
    border-radius: 8px;
    margin-left: 24px;
}

.home_a_a{
    margin: 30px 0 30px 537px;
}

.home_img_content{
    margin: 160px 236px 0;
    background-color: #1F1F21;
    border-radius: 8px;
    border: solid gray 2px; 
}

.home_img_content img{
    margin: 24px 0 24px 24px;
}

p{
    margin: 0;
}

.home_content_p_yellow{
    font-weight: 500;
    font-size: 48px;
    line-height: 57px;
    color: #F9B53A;
    margin: 24px 285px 32px 32px;
}

.home_content_p_fff{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    margin: 0 25px 24px 32px;
}

.home_img_content_a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    border: #fff solid 1px;
    border-radius: 8px;
    padding: 10px 0 12px 20px;
    margin: 24px 0px 24px 32px;
}

.home_img_content_a img{
    margin: 0;
    padding: 16px 20px 20px 20px;
}

.home_center_p{
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: #F9B53A;
    margin: 160px 592px 90px;
}

.home_explain{
    margin-bottom: 90px;
}

.home_explain_mobile{
    background-color: #1F1F21;
    border-radius: 8px;
    margin-right: 25px;
}

.home_explain_template{
    background-color: #1F1F21;
    border-radius: 8px;
    margin-right: 25px;
    margin-top: 5px;
}

.home_explain_user{
    background-color: #1F1F21;
    border-radius: 8px;
}

.home_explain_img{
    margin: 24px 0 15px 24px;
}

.home_explain_title_p{
    margin-left: 24px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: #fff;
}

.home_explain_p{
    margin: 0 24px 24px 24px;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}

.home_center_a{
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    padding: 16px 0 16px 20px;
    margin: 0 0 0 610px;
    background-color: #F9B53A;
    border-radius: 8px;
}

.home_center_a img{
    padding: 14px 17px 17px 10px;
}

.home_prev_imgs{
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: #F9B53A;
    margin: 178px 509px 0;
}

.home_img{
    margin: 59px 142px;
}

.home_img_una{
    border-radius: 20px;
    margin-bottom: 59px;
}

.home_img_stardeos{
    border-radius: 20px;
    margin-bottom: 59px;
}

.home_img_kong{
    border-radius: 20px;
}

.home_next_imgs{
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    padding: 16px 0 16px 75px;
    margin: 0 0 0 556px;
    background-color: #F9B53A;
    border-radius: 8px;
}

.home_next_imgs img{
    padding: 14px 75px 17px 10px;
}

.home_end_social_nik{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}

.home_end_social_inicio{
    margin-left: 129px;
}

.home_end_social_contact{
    margin-left: 129px;
}

.home_end_social_social{
    margin-left: 137px;
}

.home_end_social_yellow{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #F9B53A;
    margin-bottom: 24px;
}

.home_end_social_p{
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px;
}

.home_end{
    margin-top: 174px;
    background-color: #131414;
}

.home_end_social{
    padding-top: 64px;
    border-bottom: #26292D solid 1px;
    padding-bottom: 40px;
}

.home_end_social_img img{
    margin-right: 18px;
}

.home_end_p{
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    padding: 16px 0 32px 0;
}

.home_head_burger{
    display: none;
}

.home_text_fff_ui{
    display: none;
}

.home_br{
    display: none;
}

.home_img_adaptation{
    display: none;
}

@font-face{
    font-family: 'DM Sans';
    src: url('fonts/DMSans-Regular.ttf') format('ttf');
}


*{
    font-family: 'DM Sans';
}

@media(max-width:1440px){
    .home_img_logo{
        display: none;
    }
}

@media(max-width:1420px){
    .home_body{
        background-color: #131414;
    }

    .home_img_logo{
        display: none;
    }

    .home_link{
        display: none;
    }

    .home_head_link{
        display: none;
    }

    .home_head_burger{
        display: block;
        margin: 18px 16px 19px 0;
    }

    .home_head{
        max-width: 360px;
        margin: 0 auto;
        border-bottom: solid #26292D 1px;
    }

    .home_head p{
        margin: 0;
        margin: 18px 0 19px 16px;
    }

    .home_text_link{
        max-width: 277px;
        margin: 72px auto 0;
    }

    .home_text_fff_ux{
        display: none;
    }

    .home_text_fff_ui{
        display: block;
    }

    .home_text_fff{
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
    }

    .home_text_500{
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        margin: 16px 0 0 0;
    }

    .home_a_a{
        display: flex;
        flex-direction: column;
        max-width: 175px;
        margin: 24px auto 16px auto;
    }

    .home_img_content{
        max-width: 330px;
        margin: 63px auto 0;
        flex-direction: column;
    }

    .home_img_content img{
        margin: 16px 18px 24px 16px;
    }

    .home_content_p_yellow{
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        color: #fff;
        margin: 0;
        margin-left: 16px;
    }

    .home_content_p_fff{
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        margin: 0;
        margin: 16px;
    }

    .home_img_content_a{
        margin: 0;
        margin-left: 16px;
    }

    .home_br{
        display: block;
    }

    .home_a_transparent{
        margin: 0em;
    }

    .home_img_content_a img{
        padding: 0;
        padding: 25px 20px 20px 20px;
    }

    .home_center_p{
        font-weight: normal;
        font-size: 24px;
        line-height: 40px;
        max-width: 176px;
        margin: 0;
        margin: 64px auto 0 auto;
    }

    .home_explain{
        max-width: 327px;
        margin: 40px auto;
        flex-direction: column;
    }

    .home_explain_title_p{
        font-weight: 500;
        font-size: 20px;
        line-height: 40px;
    }

    .home_explain_p{
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
    }

    .home_explain_user{
        margin-top: 20px;
    }

    .home_explain_template{
        margin: 0;
        margin-top: 20px;
    }

    .home_explain_mobile{
        margin: 0;
        margin-top: 20px;
    }

    .home_center_a{
        max-width: 328px;
        margin: 0;
        margin: 0 auto;
        display: flex;
        padding: 17px 10px 17px 73px;
    }

    .home_center_a img{
        padding: 0;
        padding-left: 10px;
    }

    .home_prev_imgs{
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        margin: 0em;
        max-width: 260px;
        margin: 128px auto 0;
    }

    .home_img{
        display: none;
    }

    .home_img_adaptation{
        display: block;
        max-width: 328px;
        margin: 32px auto 0 auto;
        display: flex;
        flex-direction: column;
    }

    .home_adaptation_una{
        margin-bottom: 19px;
    }

    .home_adaptation_stardeos{
        margin-bottom: 19px;
    }

    .home_adaptation_kong{
        margin-bottom: 24px;
    }

    .home_next_imgs{
        max-width: 328px;
        margin: 0;
        margin: 0 auto;
        display: flex;
        padding: 17px 10px 17px 73px;
    }

    .home_next_imgs img{
        padding: 0;
        padding-left: 10px;
    }

    .home_end_social{
        flex-direction: column;
        max-width: 328px;
        margin: 0;
        margin: 190px auto 0 auto;
        align-items: center;
        justify-content: center;
        padding: 0;
        padding-top: 32px;
        padding-bottom: 50px;
        border-top: #26292D solid 1px;
    }

    .home_end_social_inicio{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 8px;
    }

    .home_end_social_contact{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 8px;
    }

    .home_end_social_social{
        margin: 0em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .home_end_social_nik{
        margin-bottom: 32px;
    }

    .home_end_social_img img{
        margin: 0;
        margin: 0 9px;
    }

    .home_end_p{
        max-width: 75px;
        margin: 0;
        margin: 0 auto;
        padding: 16px 0 32px ;
    }
}

@media(max-width:360px){
    .home_container{
        margin: 0 16px;
    }
}





.about_body{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #171718;
}

.about_head p{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin: 26px 0;
    color: #fff;
}

.about_head_link{
    padding: 16px 37px;
    background-color: #F9B53A;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    margin: 18px 0;
    border-radius: 8px;
}

.about_link a{
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    margin-left: 46px;
}

.about_link{
    margin-top: 34px;
}

.about_link_border{
    border-bottom: solid #F9B53A 3px;
}

.about_head_link{
    padding: 16px 37px;
    background-color: #F9B53A;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    margin: 18px 0;
    border-radius: 8px;
}

.about_head{
    background-color: #171718;
    margin: 0 150px 51px 150px;
}

.about_link a{
    margin: 0;
    margin-left: 49px;
}

.about_link_left{
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    margin-left: 147px;
}

.about_link_left img{
    padding: 0 10px 5px 0;
}

.about_content_img{
    margin: 58px 146px 0;
}

.about_content_img_title{
    font-weight: bold;
    font-size: 60px;
    line-height: 71px;
    color: #fff;
    margin-bottom: 24px;
}

.about_content_img_p{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 20px;
}

.about_content_img_a{
    color: #F9B53A;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
}

.about_content_content{
    margin-left: 140px;
}

.about_title_p{
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: #F9B53A;
    margin: 128px auto 120px auto;
    max-width: 254px;
}

.about_title_img{
    margin: 24px 0 15px 24px;
}

.about_title_p_{
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: #fff;
    margin: 0 0 15px 24px;
}

.about_title_text{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    margin: 0 0 24px 24px;
}

.about_title_design{
    background-color: #1F1F21;
    border-radius: 8px;
    max-width: 355px;
}

.about_title_system{
    background-color: #1F1F21;
    border-radius: 8px;
    margin-left: 25px;
    max-width: 355px;
}

.about_title_content{
    margin: 0 164px 128px 164px;
}

.about_title_css{
    margin-top: 30px;
}

.about_rating{
    max-width: 1122px;
    margin: 0 auto;
}

.about_rating_text_p{
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: #F9B53A;
    max-width: 435px;
    margin: 0 auto;
}

.about_ratings{
    margin-top: 120px;
}

.about_rating_photoshop{
    max-width: 354px;
    border: 1px #3D3D3D solid;
    background-color: transparent;
    border-radius: 8px;
    text-align: center;
}

.about_rating_adobe{
    max-width: 354px;
    border: 1px #3D3D3D solid;
    background-color: transparent;
    border-radius: 8px;
    text-align: center;
}

.about_rating_figma{
    max-width: 354px;
    border: 1px #3D3D3D solid;
    background-color: #1F1F21;
    border-radius: 8px;
    margin: 0 30px;
    text-align: center;
}

.about_rating_img{
    margin-top: 51px;
    margin-bottom: 15px;
}

.about_rating_title{
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: #F9B53A;
    margin-bottom: 15px;
}

.about_rating_text{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    margin: 0 24px;
}

.about_rating_star{
    margin: 15px 0 51px;
}

.about_p_free_figma_platzi{
    max-width: 1122px;
    margin: 120px auto 0;
}

.about_free_figma_platzi_p{
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: #F9B53A;
    max-width: 480px;
    margin: 0 auto 120px;
}

.about_free{
    text-align: center;
    border: 1px #3D3D3D solid;
    background-color: transparent;
    border-radius: 8px;
    max-width: 354px;
}

.about_free_figma_platzi_img{
    margin-top: 54px;
    margin-bottom: 15px;
}

.about_free_figma_platzi_title{
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: #F9B53A;
    margin-bottom: 15px;
}

.about_free_figma_platzi_text{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    margin: 0 24px 54px;
}

.about_figma{
    text-align: center;
    max-width: 354px;
    background-color: #1F1F21;
    border-radius: 8px;
    border: 1px #3D3D3D solid;
    margin-left: 30px;
}

.about_paltzi{
    text-align: center;
    border: 1px #3D3D3D solid;
    background-color: transparent;
    border-radius: 8px;
    max-width: 354px;
    margin-left: 30px;
}

.about_transparent_block_p{
    max-width: 1122px;
    margin: 172px auto 68px;
}

.about_transparent_p{
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: #F9B53A;
    max-width: 330px;
    margin: 0 auto 90px ;
}

.about_transparent_blocks{
    max-width: 354px;
    background-color: transparent;
    border: 1px #3D3D3D solid;
    border-radius: 8px;
    text-align: center;
    margin-left: 30px;
}

.about_transparent_blocks_img{
    margin: 106px 142px 40px;
}

.about_transparent_blocks_no_margin{
    max-width: 354px;
    background-color: transparent;
    border: 1px #3D3D3D solid;
    border-radius: 8px;
    text-align: center;
}

.about_transparent_title{
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: #F9B53A;
    margin-bottom: 105px;
}

.about_transparent_block{
    max-width: 1122px;
}

.about_transparent_block_discord{
    margin-top: 30px;
}

.about_link_end{
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    padding: 16px 95px;
    background-color: #F9B53A;
    border-radius: 8px;
    margin-left: 577px;
}

.about_end{
    margin-top: 89px;
}

.about_rating_figma_double{
    display: none !important;
}

.about_figma_double{
    display: none !important;
}

.project_title_img_poppins_dub{
    display: none;
}

@media(max-width:1420px){
    .about_link_left{
        display: none;
    }

    .about_head{
        margin: 0;
        margin: 0 auto;
    }

    .about_content_img {
        flex-direction: column;
    }

    .about_content_img img{
        max-width: 328px;
        margin: 0 auto;
    }

    .about_content_content{
        max-width: 328px;
        margin: 0;
        margin: 0 auto;
    }

    .about_content_img_title{
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        margin-top: 24px;
    }

    .about_title_p{
        max-width: 176px;
        font-weight: normal;
        font-size: 24px;
        line-height: 40px;
        margin: 128px auto 40px;
    }

    .about_title_coworking {
        flex-direction: column;
        max-width: 329px;
        margin: 0;
        margin: 0 auto;
    }

    .about_title_design{
        margin-bottom: 15px;
    }

    .about_title_system{
        margin: 0;
        margin-bottom: 15px;
    }

    .about_title_css {
        flex-direction: column;
        max-width: 329px;
        margin: 0;
        margin: 0 auto;
    }

    .about_rating_text_p{
        max-width: 270px;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
    }

    .about_ratings{
        margin: 0;
        margin: 40px auto 0 ;
        flex-direction: column;
        max-width: 328px;
    }

    .about_rating_figma{
        margin: 0;
    }

    .about_rating_figma_double{
        display: block;
        margin-bottom: 15px;
    }

    .about_rating_figma_double_1{
        display: none !important;
    }

    .about_rating_photoshop {
        margin-bottom: 15px;
    }

    .about_p_free_figma_platzi{
        margin: 0;
        margin: 40px auto 0;
    }

    .about_free_figma_platzi_p{
        max-width: 270px;
        margin: 0;
        margin: 0 auto 40px;
        text-align: center;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
    }

    .about_free_figma_platzi {
        flex-direction: column;
        max-width: 328px;
        margin: 0;
        margin: 0 auto;
    }

    .about_paltzi {
        margin: 0;
    }

    .about_figma {
        margin: 0;
    }

    .about_figma_double{
        display: block;
        margin-bottom: 15px;
    }

    .about_figma_double_1{
        display: none !important;
    }

    .about_free {
        margin-bottom: 15px;
    }

    .about_transparent_block_p{
        margin: 0;
        margin: 87px auto 42px;
    }

    .about_transparent_p{
        max-width: 235px;
        margin: 0;
        margin: 0 auto 30px;
        font-weight: 500;
        font-size: 24px;
        line-height: 20px;
    }

    .about_transparent_block_jira {
        flex-direction: column;
        max-width: 328px;
        margin: 0;
        margin: 0 auto;
    }

    .about_transparent_blocks {
        margin: 0;
        margin-top: 15px;
    }

    .about_transparent_block_discord {
        flex-direction: column;
        max-width: 328px;
        margin: 0;
        margin: 15px auto 0;
    }

    .about_link_end{
        margin: 0;
    }

    .about_link_end_block{
        max-width: 260px;
        margin: 0 auto;
    }

    .home_end_social{
        margin: 0;
        margin: 77px auto 0;
    }

    .about_content_img{
        margin: 0;
    }

    .about_title_content {
        margin: 0;
    }
}




.project_offset{
    max-width: 1156px;
    margin: 0 auto;
}

.project_web_p{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #A0A0A1;
    margin-top: 49px;
}

.project_title_img_p{
    font-weight: bold;
    font-size: 60px;
    line-height: 71px;
    color: #F9B53A;
    margin-bottom: 64px;
}

.project_title_img{
    margin-top: 24px;
}

.project_title_img_poppins{
    border-radius: 8px;
}

.project_title_text_p{
    font-weight: 500;
    font-size: 48px;
    line-height: 57px;
    color: #F9B53A;
    margin-bottom: 16px;
}

.project_title_text_text{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}

.project_title_text{
    margin-top: 128px;
}

.project_title_fonts{
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: #F9B53A;
    margin-bottom: 18px;
}

.project_text_fonts{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 24px;
}

.project_title_text_img_fonts{
    margin-top: 128px;
}

.project_text_fonts a{
    color: #fff;
    border-bottom: solid 1px white;
}

.project_title_text_colors{
    margin-top: 128px;
}

.project_title_colors{
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: #F9B53A;
    margin-bottom: 18px;
}

.project_text_colors{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 24px;
}

.project_img_logo_colors{
    margin-bottom: 24px;
}

.projects_title_text_img_end{
    margin-top: 128px;
}

.projects_title_end{
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: #F9B53A;
}

.projects_text_end{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    margin-top: 18px;
    margin-bottom: 24px;
}

.project_end{
    margin-top: 127px;
}

.project_img_fonts_dub{
    display: none;
}

.project_img_colors_dub{
    display: none;
}

.project_img_logo_colors_dub{
    display: none;
}

.projects_img_end_dub{
    display: none;
}

@media(max-width:1420px){
    .project_title_img_poppins_dub{
        display: block;
    }

    .project_title_img_poppins{
        display: none;
    }

    .project_web_p{
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        max-width: 229px;
        margin: 0;
        margin-bottom: 24px;
    }

    .project_title_img_p{
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        margin: 0;
        margin-bottom: 32px;
    }

    .project_title_img{
        max-width: 328px;
        margin: 32px auto 0;
    }

    .project_head {
        display: flex !important;
        align-items: center;
    }

    .project_title_text {
        max-width: 328px;
        margin: 0;
        margin: 64px auto 0;
    }

    .project_title_text_p{
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
    }

    .project_title_text_text{
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
    }

    .project_title_text_img_fonts {
        max-width: 328px;
        margin: 0;
        margin: 32px auto 0;
    }

    .project_img_fonts_dub{
        display: block;
    }

    .project_img_fonts{
        display: none;
    }

    .project_img_logo_colors{
        display: none;
    }

    .project_img_colors{
        display: none;
    }

    .project_img_logo_colors_dub{
        display: block;
    }

    .project_img_colors_dub{
        display: block;
        margin-top: 24px;
    }

    .project_title_text_colors {
        max-width: 328px;
        margin: 0;
        margin: 32px auto 0;
    }

    .project_title_colors{
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
    }

    .project_text_colors{
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
    }

    .projects_img_end_dub{
        display: block;
    }

    .projects_img_end{
        display: none;
    }

    .projects_title_text_img_end{
        max-width: 328px;
        margin: 0;
        margin: 32px auto 0;
    }

    .project_end{
        margin: 0;
        margin-top: 84px;
    }
}